@font-face {
    font-family: gnuolane;
    src: url(../../font/gnuolane_rg.ttf);
}

.gnuolane {
    font-family: gnuolane;
}

body {
    background: #1a3442;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
}

.content {
    letter-spacing: 2px;
}

.control-label {
    color: #ffd600;
}

.content .form-group:not(:first-child){
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 10px;
}

.login-header-text > p {
    font-size: 36px;
    font-family: gnuolane;
    letter-spacing: 1px;
}