.logbody{
	background-color: #FFF;
}

.header, .login-header{
	background-color: #3c8dbc; 
}

.title, .search, .user-nav{
	height: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.title{
	color: #FFF;
	font-size: 34px;
	line-height: 40px;
	padding-left: 10px;
	font-weight: bold;
}

.title i{
	color: #000;
	margin-right: 10px;
}

.title img{
	width: 104px;
	position: absolute;
	top: 14px;
	left: 105px;
}

.form-search{
	margin-left: -15px;
	margin-right: -15px;
}

.search-only .search-icon{
	top: 6px;
        color: #660066;
}

.search-input{
	height: 40px;
	width: 100%;
        background-color: #cabeca;
       	border: 0px;
	border-radius: 5px;
	color: #660066;
	padding-left: 40px;
}

.search-input::-webkit-input-placeholder {
	color: #660066;
	opacity: 1.0;
}
.search-input:-moz-placeholder {
    color: #ff33ff;
	opacity: 1.0;
}
.search-input::-moz-placeholder {
 	color: #E2E2E2;
	opacity: 1.0;
} 
.search-input:-ms-input-placeholder { 
 	color: #E2E2E2;
	opacity: 1.0;
}

.user-btn{
	border: 0px;
	background-color: transparent;
}

.open .user-btn{
	background-color: transparent;
}

.user-btn:hover{
	background-color: transparent;
}

.content-area{
	background-color: #FFF;
}

.menu-container{
	padding: 0px;
	background-color: #F2F2F2;
}

.menu-container a{
	color: #434a54;
}

.menu-container a:hover{
	color: #3739A5;
}

#menu .level1{
	font-weight: bold;
	cursor: pointer;
}

.menu-item-container{
	margin: -15px;
	padding: 15px;
}

.content-container{
	padding: 0px;
	background-color: #FFF;
}

.breadcrumb{
	border-radius: 0px;
	background-color: #F3F3F3;
}

.breadcrumb>li+li:before {
	content: "\25BA";
}

.site-map{
    background-color: #990099;
	padding-top: 20px;
}

.footer{
        background-color: #660066;
/*	text-transform: uppercase;*/
	font-size: 14px;
	text-align: left;
	color: #FFF;
	padding: 10px 5px;
        position:left;
}

.footer-nav-container{
	margin-left: -35px;
}


.foot{
    align-content: center;
   color:#FFF ;
}

/* login */

.login-menu{
	color: #FFFFFF;
	padding: 30px;
        margin-right: 20px;
}

.signin-title {
	color: #7D7D7D;
	font-size: 36px;
	font-weight: bold;
	line-height: 80px;
	text-align: center;
}

.signin-blk {
	padding: 30px 80px;
}

.signin-blk label {
	font-weight: normal;
}

.signin-blk input{
	height: 45px;
}

