/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2016, 3:55:40 PM
    Author     : admin
*/
.user-panel>.info{
    font-size: 18px;
    text-align: center;
    top: 10px;
}
.form-horizontal .control-label{
    text-align: right;
}
.main-header .pro-name{
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    font-family: sans-serif;
    padding: 0 15px;
    color: #fff;
    font-weight: 700;
    overflow: hidden;
}
.main-header .logo{
    /*color: #cdec6e !important;*/
}
footer.main-footer{
    font-size: 12px;
}
.ui-widget.ui-widget-content{
    z-index: 9999;
}
.main-title, .table tr th {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
}
.control-label {
    font-size: 15.5px;
}
.btn-default {
    background-color: #3c8dbc !important;
    color: #fff !important;
    border-color: #fff !important;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
    transition: 0.4s all;
    width: auto;
}
.btn-default:hover {
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0);
}
samp {
    position: absolute;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;

}
.border_cl{
    border:1px solid #000;
    min-height: 45px;
}
.border_cl_two{
    border-bottom:1px solid #000; 
}

.row_padding_reomve  ,.row_padding_reomve .col-md-2 ,.row_padding_reomve  .col-md-3 ,.row_padding_reomve .col-md-4 ,.row_padding_reomve .col-md-5 .col-md-6 .col-md-7 .col-md-8 .col-md-9 .col-md-10{
    padding:0px;
}

.padding_remove_col{
    padding: 0px;
}
input.invalid, select.invalid {
    border: 1px solid #F00 !important;
    border-bottom: none !important;
    transition: 0.4s all;
}
div.invalid{
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.45);
    background: rgba(255, 0, 0, 0.45);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-top: 0px;
}
div.invalid:empty {
    display: none;
}
#referenceEditValidationMessage, #referenceValidationMessage {
    border: 1px solid #F00;
}
input.valid + div.invalid, select.valid + div.invalid {
    display: none;
} 
.refereceDelete{
    font-size: 16px;
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.table-success {
    border: 3.5px solid #000000;
}
.table-success > thead > tr > th,
.table-success > tbody > tr > th,
.table-success > tfoot > tr > th,
.table-success > thead > tr > td,
.table-success > tbody > tr > td,
.table-success > tfoot > tr > td {
    border: 3px solid #000000;
}
.box-body{
    font-family: Arial, Helvetica, sans-serif;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/page-loader3.gif') 50% 50% no-repeat rgba(249,249,249,0.61);
}


.Rasika {
    color: red;
    margin-right: 4px;
    width: 4%;
}

.datepicker table tr td.day{
    background: rgba(192, 196, 197, 0.31);
}
.datepicker table tr td.disabled{
    background: none
}
