html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
}

.display {
    display: flex;
    background-color: #E6E6E6;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.main-board {
    width: 70%;
    height: 70%;
    display: flex;
    align-self: center;
    padding: 0 10%;
    flex-direction: column;
    justify-content: center;
}

.playing-token .token-no, .playing-token .counter-no {
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    font-size: 6vh;
}

.playing-token .token-no{
    color: #000;
}

.playing-token .counter-no {
    color: #000000;
    background-color: #00ff00;
}

.token-list {
    width: 30%;
    background-color: #272727;
}

.token-container {
    color: #FFF;
    height: 20%;
    padding: 3%;
    box-sizing: border-box;
    animation: push-animation 1000ms;
    overflow: hidden;
}

.token {
    background-color: #7e7c88;
    text-align: center;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation: blink-animation 500ms linear 20 alternate;
}

.token .token-no {
    font-size: 5vh;
    padding-top: 5%;
}

.token .counter-no {
    font-size: 3vh;
}

@keyframes push-animation {
  0% {
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 20%;
    opacity: 1;
  }
}

@keyframes blink-animation {
  100% {
    background-color: #0F0;
  }
}
